---

import Layout from '../layouts/Layout.astro';
import Heather from '../components/Heather.astro';

import Inicio from '../components/inicio.astro';
import Proyectos from '../components/proyectos.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
import Habilidades from '../components/habilidad.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Heather/>
		<Inicio/>
		<Habilidades/>
		<Proyectos/>
		<Contacto/>
		<Footer/>
	</body>
</html>
