---
const currentYear = new Date().getFullYear();
---
<footer class="w-full bg-[#18181b] py-8 px-6">
  <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-center justify-between gap-6">
    
    
    <p class="text-sm text-gray-400">
      © {currentYear} 
    </p>

    <div class="flex gap-8 text-sm text-gray-400">
      <a href="https://github.com/lKaiser01l" target="_blank" class="hover:text-white transition-colors">GitHub</a>
      
      <a href="mailto:arianocuellar03@outlook.com" class="hover:text-white transition-colors">Email</a>
    </div>

  </div>
</footer>